.w-20{
   width:20%;
  
}
.w-30{
   width:30%;
  
}
.image{
  width:100px;
}
.bi{
  margin-right:10px;
}
.story{
  height:70px;
}
.dp{
  height:30px;
   margin-right:5px;
    margin-top:5px;
}
.post{
  width:300px;
}
.profile{
  margin-left:10px;
  margin-top:10px;
}
.profile h5{
  margin-top:10px;
  font-size:15px;
}
.profile small{
  margin-top:7px;
}
.sugg{
  margin-top:14px;
}


.story-dp {
  width: 40px;
  
}
.gradient-border{
  width: 45px;
  height:45px;
  display:flex;
  align-items:center;
  justify-content:center;
  border-radius:50%;
  background:linear-gradient(45deg,#ff00ff,#ff6600,#ffcc00)
}
.profile-new{
  width:100px;
  height:100px;
}
.follow{
  width:40px;
  height:40px;
   margin-right:5px;
   margin-top:10px;
}
.follow-h5{
  margin-top:10px;
}